/* RESET  */

/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
* {
  margin: 0;
}

/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  /* 4. Add accessible line-height */
  line-height: 1.5;

  /* 5. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}

/* 6. Improve media defaults */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* 7. Inherit fonts for form controls */
input,
button,
textarea,
select {
  font: inherit;
}

/* 8. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* 9. Improve line wrapping */

p {
  text-wrap: pretty;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

/*
  10. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
}

#main-card-box {
  width: 70vw;
  height: 80vh;
  padding: 5% 3%;
  margin: 5% auto;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 5%;
  background-color: #ddebf8;
  border-bottom: solid #d8cefe 3vh;
}

#main-card-box > * {
  border-radius: 8px;
}

#photo-container {
  display: inline-block;
}

#avatar {
  max-width: 100%;
  max-height: 100%;
  display: block;
  border-radius: 5%;
}

#personal-info-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  /* font-size: x-large; */
}

#personal-text {
  display: flex;
  flex-direction: column; /* stack elements vertically */
  align-items: center; /* center text horizontally */
  gap: 5vh; /* <— adds space between items */
}

#job-title {
  font-size: 2.5vw;
}

#hometown {
  font-size: 3vw;
}

#name {
  font-size: 4vw;
}
